.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0;

  &-logo {
    margin-right: 175px;
  }

  &-menu {
    ul {
      display: flex;
      align-items: center;

      li {
        a {
          font-size: 16px;
          line-height: 20px;
          font-weight: var(--font-r);
          color: $c100;
          @extend %dtrans;

          &:hover {
            color: $c200;
            @extend %htrans;
          }
        }
      }

      li + li {
        margin-left: 35px;
      }
    }
  }

  &-dropdown {
    position: relative;
    display: inline-block;

    &__btn {
      border: none;
      background: transparent;
      position: relative;
      cursor: pointer;

      p:after {
        content: "";
        position: absolute;
        display: inline-block;
        background-image: url("/img/svg/arrow-drop.svg");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center;
        width: 10px;
        height: 10px;
        top: 30%;
        right: -30%;
        @extend %dtrans;
      }
    }

    &__btn.active {
      color: $c200;
      background: transparent;
      font-weight: var(--font-r);

      p:after {
        content: "";
        position: absolute;
        display: inline-block;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center;
        width: 10px;
        height: 10px;
        top: 30%;
        right: -30%;
        transform: rotate(180deg);
        @extend %htrans;
      }
    }

    &__cont {
      position: absolute;
      display: none;
      flex-direction: column;
      border-radius: 5px;
      background: $default;

      width: 150px;
      text-align: center;
      padding: 15px;
      top: 35px;
      right: -45%;
      @extend %dtrans;
      @extend %border-ef;
      &::after {
        content: "";
        position: absolute;

        display: inline-block;
        top: -8%;
        right: 50%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $default;
      }
      a {
        font-size: 16px;
        line-height: 20px;
        @extend %dtrans;

        &:hover {
          color: $c200;
          @extend %htrans;
        }
      }

      a + a {
        margin-top: 5px;
      }
    }
  }

  &-btn {
    margin: 0 55px 0 48px;
    background: transparent;
    @extend %send-btn;
    @extend %dtrans;

    &:hover {
      border-color: $c200;
      @extend %htrans;
      color: $c200;
    }
  }

  &-lang {
    &__dropdown {
      position: relative;

      &--btn {
        border: none;
        background: transparent;
        position: relative;
        font-weight: var(--font-r);
        cursor: pointer;

        p:after {
          content: "";

          position: absolute;
          display: inline-block;
          background-image: url("/img/svg/arrow-drop.svg");
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: center;
          width: 10px;
          height: 10px;
          top: 30%;
          right: -50%;
          @extend %dtrans;
        }
      }

      &--btn.show {
        color: $c200;

        p:after {
          content: "";
          position: absolute;
          display: inline-block;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: center;
          width: 10px;
          height: 10px;
          top: 30%;
          right: -50%;
          transform: rotate(180deg);
          @extend %htrans;
        }
      }

      &--cont {
        position: absolute;
        display: none;
        flex-direction: column;
        border-radius: 3px;
        background: $default;
        width: 100px;
        text-align: center;
        padding: 15px;
        top: 35px;
        right: -40px;
        @extend %dtrans;
        @extend %border-ef;
        &::after {
          content: "";
          position: absolute;

          display: inline-block;
          top: -10%;
          right: 50%;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $default;
        }
        a {
          color: $c100;
          @extend %dtrans;

          &:hover {
            color: $c200;
            @extend %htrans;
          }
        }

        a + a {
          margin-top: 5px;
        }
      }
    }
  }
}

.active {
  display: flex;
  @extend %htrans;
}

.show {
  display: flex;
  @extend %htrans;
}

// 768
@media (max-width: 768px) {
  .navigation {
    &-menu,
    &-btn,
    &-lang {
      display: none;
    }
  }
}

// 600
@media (max-width: 600px) {
  .navigation {
    &-menu,
    &-btn,
    &-lang {
      display: none;
    }
  }
}

// 480
@media (max-width: 480px) {
  .navigation {
    &-menu,
    &-btn,
    &-lang {
      display: none;
    }
  }
}

// 320
@media (max-width: 320px) {
  .navigation {
    &-menu,
    &-btn,
    &-lang {
      display: none;
    }
  }
}
