// 768
@media (max-width: 768px) {
}

// 600
@media (max-width: 600px) {
  .technology {
    padding-top: 50px;
  }
}

// 480
@media (max-width: 480px) {
  .technology {
    padding-top: 50px;
  }
}

// 320
@media (max-width: 320px) {
  .technology {
    padding-top: 50px;
  }
}
