.tteams {
  margin-top: 30px;
  height: 740px;
  &-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 25px;
    font-weight: var(--font-b);
  }
  &-box {
    width: 912px;
    border: 1px solid $c400;
    border-radius: 20px;
  }
  &-content {
    padding: 40px 80px 40px 40px;
    display: flex;
    align-items: center;

    &__title {
      width: 459px;
      display: flex;
      align-items: center;
      &--text {
        margin-left: 20px;
        h2 {
          font-size: 16px;
          line-height: 20px;
          font-weight: var(--font-b);
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
          font-weight: var(--font-r);
        }
      }
    }
    &__desc {
      p {
        width: 306px;
        font-size: 16px;
        line-height: 20px;
        font-weight: var(--font-r);
        margin-left: 40px;
      }
    }
  }
  &-tabs {
    padding: 40px 112px 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    @extend %dtrans;
  }
  &-contents {
    padding: 40px;

    &__cont {
      width: 845px;

      display: none;
      align-items: center;
      justify-content: space-between;
      @extend %dtrans;
    }
    &__text {
      width: 393px;
      h2 {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 20px;
        font-weight: var(--font-b);
      }
      p {
        font-size: 16px;
        line-height: 20px;
        font-weight: var(--font-r);
      }
    }
  }
}

.active {
  background: $c100;
  color: $default;
  font-weight: var(--font-b);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %htrans;
}

.show {
  display: flex;
  @extend %htrans;
}

// 768
@media (max-width: 768px) {
  .tteams {
    &-box {
      width: 100%;
    }
    &-content {
      padding: 25px 40px;
      &__title {
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &-tabs {
      padding: 25px;
    }
    &-contents {
      padding: 25px;
      &__cont {
        width: 100%;
      }
      &__img {
        margin-left: 10px;
      }
    }
  }
}

// 600
@media (max-width: 600px) {
  .tteams {
    margin-top: 60px;
    &-title {
      font-size: 16px;
      line-height: 25px;
    }
    &-box {
      width: 100%;
    }
    &-content {
      flex-direction: column;
      padding: 25px 20px;
      &__title {
        width: 100%;
        flex-direction: column;
        &--text {
          margin: 0;
          p {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      &__desc {
        width: 100%;
        p {
          width: 100%;
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &-tabs {
      padding: 0;
      grid-template-columns: repeat(1, 1fr);
      button {
        width: 80%;
        margin: 0 auto;
      }
    }
    &-contents {
      width: 100%;
      &__cont {
        width: 100%;
        flex-direction: column;
      }
      &__text {
        width: 100%;
        h2 {
          font-size: 12px;
          line-height: 16px;
        }
        p {
          font-size: 11px;
          line-height: 16px;
        }
      }
      &__img {
        display: none;
      }
    }
  }
  .box-container {
    width: 100%;
    float: none;
  }
}

// 480
@media (max-width: 480px) {
  .tteams {
    margin-top: 60px;
    &-title {
      font-size: 16px;
      line-height: 25px;
    }
    &-box {
      width: 100%;
    }
    &-content {
      flex-direction: column;
      padding: 25px 20px;
      &__title {
        width: 100%;
        flex-direction: column;
        &--text {
          margin: 0;
          p {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      &__desc {
        width: 100%;
        p {
          width: 100%;
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &-tabs {
      padding: 0;
      grid-template-columns: repeat(1, 1fr);
      button {
        width: 80%;
        margin: 0 auto;
      }
    }
    &-contents {
      width: 100%;
      &__cont {
        width: 100%;
        flex-direction: column;
      }
      &__text {
        width: 100%;
        h2 {
          font-size: 12px;
          line-height: 16px;
        }
        p {
          font-size: 11px;
          line-height: 16px;
        }
      }
      &__img {
        display: none;
      }
    }
  }
  .box-container {
    width: 100%;
    float: none;
  }
}

// 320
@media (max-width: 320px) {
  .tteams {
    margin-top: 60px;
    &-title {
      font-size: 16px;
      line-height: 25px;
    }
    &-box {
      width: 100%;
    }
    &-content {
      flex-direction: column;
      padding: 25px 20px;
      &__title {
        width: 100%;
        flex-direction: column;
        &--text {
          margin: 0;
          p {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      &__desc {
        width: 100%;
        p {
          width: 100%;
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &-tabs {
      padding: 0;
      grid-template-columns: repeat(1, 1fr);
      button {
        width: 80%;
        margin: 0 auto;
      }
    }
    &-contents {
      width: 100%;
      &__cont {
        width: 100%;
        flex-direction: column;
      }
      &__text {
        width: 100%;
        h2 {
          font-size: 12px;
          line-height: 16px;
        }
        p {
          font-size: 11px;
          line-height: 16px;
        }
      }
      &__img {
        display: none;
      }
    }
  }
  .box-container {
    width: 300px;
    float: none;
  }
}
