<div class="cases">
  <div class="container">
    <div class="cases-inner">
      <div class="cases-inner__title">
        <h2>Кейси</h2>
      </div>
      <div class="cases-content">
        <div class="box-container">
          <div class="cases-content__tabs">
            <button class="cases-content__tab btn-reset active" data-tab="all">
              Всі
            </button>
            <button class="cases-content__tab btn-reset" data-tab="auto">
              Автомотів
            </button>
            <button class="cases-content__tab btn-reset" data-tab="it">
              ІТ
            </button>
            <button class="cases-content__tab btn-reset" data-tab="banks">
              Банки
            </button>
            <button class="cases-content__tab btn-reset" data-tab="retail">
              Рітейл
            </button>
            <button class="cases-content__tab btn-reset" data-tab="ecommerce">
              E-commerce
            </button>
            <button class="cases-content__tab btn-reset" data-tab="logistics">
              Логістика
            </button>
            <button class="cases-content__tab btn-reset" data-tab="insurance">
              Страхові компанії
            </button>
            <button class="cases-content__tab btn-reset" data-tab="infobiz">
              Інфобіз
            </button>
            <button class="cases-content__tab btn-reset" data-tab="oilgas">
              Нафто-газові компанії
            </button>
          </div>
          <div class="cases-articles" data-aos="fade-left">
            <ul>
              <li class="cases-articles__item" data-tab="all auto">
                <div class="cases-articles__box">
                  <img src="img/cases-img-1.avif" alt="cases-img-1" />
                  <h2>Впровадження система контролю співробітників компанії</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all it">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>

              <li class="cases-articles__item" data-tab="all ecommerce">
                <div class="cases-articles__box">
                  <img src="img/cases-img-1.avif" alt="cases-img-1" />
                  <h2>Впровадження система контролю співробітників компанії</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all oilgas">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all ecommerce">
                <div class="cases-articles__box">
                  <img src="img/cases-img-1.avif" alt="cases-img-1" />
                  <h2>Впровадження система контролю співробітників компанії</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all retail">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all insurance">
                <div class="cases-articles__box">
                  <img src="img/cases-img-1.avif" alt="cases-img-1" />
                  <h2>Впровадження система контролю співробітників компанії</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all logistics">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all banks">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all infobiz">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>
              <li class="cases-articles__item" data-tab="all infobiz">
                <div class="cases-articles__box">
                  <img src="img/cases-img-2.avif" alt="cases-img-2" />
                  <h2>Впровадження системи обліку готової продукції</h2>
                </div>
              </li>
            </ul>
            <button class="cases-articles__more" data-action="more">
              Дивитись ще
            </button>
            <button class="cases-articles__less" data-action="less">
              Згорнути
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
