<div class="contact">
  <div class="container">
    <div class="contact-inner" data-aos="fade-left">
      <p class="contact-inner__title">
        Давайте разом зробимо LEVEL UP вашого бізнесу!
      </p>
      <div class="contact-inner__phone">
        <ul>
          <li>
            <img src="img/svg/contact-phone-1.svg" alt="contact-phone-1" />
            <a href="tel:+38 (093) 777-00-44">+38 (093) 777-00-44</a>
          </li>
          <li>
            <a href="tel:+38 (050) 777-00-44">+38 (050) 777-00-44</a>
          </li>
        </ul>
      </div>
      <div class="contact-inner__mail">
        <img src="img/svg/contact-mail-1.svg" alt="contact-mail-1" />
        <a href="mail:hello@todoit.com">hello@todoit.com</a>
      </div>
      <button class="contact-inner__btn">Обговорити проект</button>
    </div>
  </div>
</div>
