<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-inner__logo">
        <img src="/img/svg/logo.svg" alt="logo" />
        <div class="footer-inner__social">
          <ul>
            <li>
              <a href="#">
                <img src="img/svg/linkedin-icon.svg" alt="linkedin-icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/svg/fb-icon.svg" alt="fb-icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/svg/insta-icon.svg" alt="insta-icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-inner__text">
        <h2>Послуги</h2>
        <ul>
          <li>
            <a href="#"> Підбір рішень для автоматизації продажів </a>
          </li>
          <li>
            <a href="#"> Впровадження рішень «під ключ» </a>
          </li>
          <li>
            <a href="#"> Контроль інших інтеграторів </a>
          </li>
          <li>
            <a href="#"> Підтримка після впровадження </a>
          </li>
        </ul>
        <span> © ToDoIt ВСі ПРАВА ЗАхИЩЕНі </span>
      </div>
      <nav class="ooter-inner__menu">
        <ul>
          <li>
            <a href="#"> Кейси </a>
          </li>
          <li>
            <a href="#"> Відгуки </a>
          </li>
          <li>
            <a href="#"> Про нас </a>
          </li>
          <li>
            <a href="#"> Блог </a>
          </li>
          <li>
            <a href="#"> Новини </a>
          </li>
          <li>
            <a href="#"> Контакти </a>
          </li>
        </ul>
        <span> Політика конфіденційності </span>
      </nav>
    </div>
  </div>
</footer>
