<div class="principles">
  <div class="container">
    <div class="principles-inner">
      <div class="principles-inner__title">
        <h2>наші Принципи роботи</h2>
      </div>
      <div class="principles-inner__list">
        <ul>
          <li>
            <img src="/img/svg/principles-icon-1.svg" alt="principles-icon-1" />
            <p>Low-code (доопрацювання без програмування)</p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-2.svg" alt="principles-icon-2" />
            <p>Мультивалютна та мультимовна системи</p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-3.svg" alt="principles-icon-3" />
            <p>Покращена звітність та точніше прогнозування стану бізнесу</p>
          </li>

          <li>
            <img src="/img/svg/principles-icon-4.svg" alt="principles-icon-4" />
            <p>Впровадження систем по гнучким метологіям (Agile, Scrum)</p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-5.svg" alt="principles-icon-5" />
            <p>Даємо демо від 2 тижнів до місяців</p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-6.svg" alt="principles-icon-6" />
            <p>Покращена звітність та точніше прогнозування стану бізнесу</p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-7.svg" alt="principles-icon-7" />
            <p>
              Готові конектори між системами, що економить кошти на розробку та
              час співробітників.
            </p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-8.svg" alt="principles-icon-8" />
            <p>
              За рахунок нагляду над впровадженням CRM економія кошів на 10-30%
            </p>
          </li>
          <li>
            <img src="/img/svg/principles-icon-9.svg" alt="principles-icon-9" />
            <p>
              Швидка розробка, гнучке ціноутворення у ліцензуванні та у
              впровадженні.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
