<div class="service">
  <div class="container">
    <div class="service-inner" data-aos="fade-left">
      <h2>Послуги</h2>
      <div class="service-list">
        <ul>
          <li>
            <div class="service-list__box">
              <div class="service-list__title">
                <img src="/img/svg/service-icone-1.svg" alt="service-icone-1" />
                <h2>Підбір рішень для автоматизації продажів</h2>
              </div>
              <p>
                Нічого зайвого чи випадкового. Тільки те, що дійсно працює. Наша
                глибока експертиза та багаторічний досвід дозволяють гарантувати
                ефективність рішень, які ми пропонуємо.
              </p>
              <a href="#">Деталі</a>
            </div>
          </li>
          <li>
            <div class="service-list__box">
              <div class="service-list__title">
                <img src="/img/svg/service-icone-2.svg" alt="service-icone-2" />
                <h2>Контроль інших інтеграторів</h2>
              </div>
              <p>
                Навіть якщо ви оберёте інших спеціалістів з цифровізації, ми
                залишаємося корисними. Ми проводимо незалежний аудит пропозиції
                інтегратора та убезпечуємо вас від надмірних витрат та зайвих
                рішень.
              </p>
              <a href="#">Деталі</a>
            </div>
          </li>
          <li>
            <div class="service-list__box">
              <div class="service-list__title">
                <img src="/img/svg/service-icone-3.svg" alt="service-icone-3" />
                <h2>Впровадження рішень «під ключ»</h2>
              </div>
              <p>
                Налаштування системи та всіх необхідних інтеграцій з вашою
                ІТ-інфраструктурою. Ми не лише впроваджуємо рішення,а й
                розвиваємо систему, виходячи з потреб та викликів вашого
                бізнесу.
              </p>
              <a href="#">Деталі</a>
            </div>
          </li>
          <li>
            <div class="service-list__box">
              <div class="service-list__title">
                <img src="/img/svg/service-icone-4.svg" alt="service-icone-4" />
                <h2>Підпримка після впровадження</h2>
              </div>
              <p>
                Налаштування системи і всіх необхідних інтеграцій з вашою
                ІТ-інфраструктурою. Ми не лише впроваджуємо рішення,а й
                розвиваємо систему, виходячи з потреб і викликів вашого бізнесу.
              </p>
              <a href="#">Деталі</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="service-send">
        <h2>Не знаєте яка послуга вам підійде?</h2>
        <div class="service-send__btn">
          <p>
            Залишайте свої контакти,а наші спеціалісти проконсультують вас по
            всім питаннями
          </p>
          <button id="sendBtn">Залишити заявку</button>
        </div>
      </div>
    </div>
  </div>
</div>
