<div class="aboutus-pro">
  <div class="aboutus-pro__title">
    <span>Про нас</span>
    <h2>
      Наша головна пристрасть і ексертиза
      <strong> — LEVEL UP вашого бізнесу </strong>
    </h2>
  </div>
  <div class="aboutus-pro__list" data-aos="fade-left">
    <ul>
      <li>
        <h2>100+ проектів</h2>
        <p>Успішно реалізували для різних галузей</p>
      </li>
      <li>
        <h2>10+ CRM</h2>
        <p>Досконально знаємо та маємо велику експертизу у приміненні</p>
      </li>
      <li>
        <h2>17+ років</h2>
        <p>Впроваджуємо CRM та розвиваємо бізнеси наших клієнтів</p>
      </li>
      <li>
        <h2>5+ країн</h2>
        <p>Налічує географія наших клієнтів</p>
      </li>
    </ul>
  </div>
  <div class="aboutus-pro__services">
    <div class="aboutus-pro__services--crm" data-aos="fade-right">
      <img src="/img/svg/aboutus-proj-el-1.svg" alt="aboutus-proj-el-1" />
      <p>Використовуємо CRM-системи від світових вендорів.</p>
    </div>
    <div class="aboutus-pro__services--ai" data-aos="fade-left">
      <img src="/img/svg/aboutus-proj-el-1.svg" alt="aboutus-proj-el-1" />
      <p>Маємо експертизу у великій кількості галузей. AI-Sales. Big-data</p>
    </div>
    <div class="aboutus-pro__services--microsoft" data-aos="fade-right">
      <img src="/img/svg/aboutus-proj-el-1.svg" alt="aboutus-proj-el-1" />
      <p>
        Глибокі знання на базі бізнес-рішень Microsoft та рішень які доповнюють
        CRM від Microsoft
      </p>
    </div>
  </div>
</div>
