<!-- hamburger menu -->
<nav role="menubar">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<li><a href="#about">Послуги </a></li>
			<li><a href="#help">Про нас</a></li>
			<li><a href="#how">Кейси</a></li>
			<li><a href="#how">Відгуки</a></li>
			<li><a href="#how">Блог</a></li>
			<li><a href="#how">Новини</a></li>
			<li><a href="#how">Контакти</a></li>
			<li>
				<button>Замовити демо</button>
			</li>

		</ul>

	</div>
</nav>
<!-- end hamburger -->