<div class="navigation">
  <div class="navigation-logo">
    <a href="#">
      <img src="/img/svg/logo.svg" alt="logo" />
    </a>
  </div>
  <nav class="navigation-menu">
    <ul>
      <li>
        <div class="navigation-dropdown">
          <button id="dropBtn" class="navigation-dropdown__btn">
            <p>Послуги</p>
          </button>
          <div id="dropCont" class="navigation-dropdown__cont">
            <a href="#"> </a>
            <a href="#">Тест</a>
            <a href="#">Тест</a>
            <a href="#">Тест</a>
          </div>
        </div>
      </li>
      <li>
        <a href="#">Про нас</a>
      </li>
      <li>
        <a href="#">Кейси</a>
      </li>
      <li>
        <a href="#">Відгуки</a>
      </li>
      <li>
        <a href="#">Блог</a>
      </li>
      <li>
        <a href="#">Новини</a>
      </li>
      <li>
        <a href="#">Контакти</a>
      </li>
    </ul>
  </nav>
  <button class="navigation-btn">Замовити демо</button>
  <div class="navigation-lang">
    <div class="navigation-lang__dropdown">
      <button class="navigation-lang__dropdown--btn">
        <p>Ua</p>
      </button>
      <div class="navigation-lang__dropdown--cont">
        <a href="#">English</a>
        <a href="#">Poland</a>
      </div>
    </div>
  </div>
  @include('burger.html')
</div>
