<div class="sliderteams">
  <!------- Modal  --->
  <div class="sliderteams-modal" data-bmodal="1">

    <div class="sliderteams-modal__inner">
      <button class="sliderteams-modal__close">
        <img alt="close" src="/img/svg/close.svg">
      </button>
      <div class="sliderteams-modal__box">

        <div class="sliderteams-modal__img">
          <img alt="sliderteams-img-1" src="/img/sliderteams-img-1.webp">
          <div class="sliderteams-modal__controls">
            <button class="sliderteams-modal__prev">
              <img alt="sliderabout-icon-prev"
                   src="/img/svg/sliderabout-iicon-prev.svg">
            </button>
            <button class="sliderteams-modal__next">
              <img alt="sliderabout-icon-next"
                   src="img/svg/sliderabout-icon-next.svg">
            </button>
          </div>
        </div>
        <div class="sliderteams-modal__cont">

          <h2>Костянтин Поповченко</h2>
          <p>CEO</p>
          <div class="sliderteams-modal__cont--mail">
            <a href="email:k.popovchenko@todoit.com">
              <img alt="sliderteams-mail-icon"
                   src="/img/svg/sliderteams-mail-icon.svg">
              <strong>k.popovchenko@todoit.com</strong>
            </a>

          </div>
          <span>
                17+ років досвіду у бізнес-консалтингу, управлінні проєктами, розробці, впровадженні інформаційних систем комерційного управління. Реалізував та брав участь у розвитку 100+ проектів у різних галузях: фінанси, банки, інвестиційні фонди, страхові компанії, ритейл, навчальні центри, ІТ-компанії тощо.
              </span>
        </div>
      </div>
    </div>

  </div>
  <!------- end Modal  --->
  <div class="sliderteams-inner">
    <div class="sliderteams-inner__title">
      <h2>Команда</h2>
    </div>
    <div class="sliderteams-controls">
      <button class="sliderteams-controls__prev">
        <img alt="slider-icon-prev" src="/img/svg/sliderabout-iicon-prev.svg"/>
      </button>
      <button class="sliderteams-controls__next">
        <img alt="slider-icon-next" src="/img/svg/sliderabout-icon-next.svg"/>
      </button>

    </div>
  </div>
  <div class="sliderteams-cards">
    <div class="swiper-wrapper">
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-1" src="/img/sliderteams-img-1.webp"/>
          <h2>Костянтин Поповченко</h2>
          <p>CEO</p>
          <button class="sliderteams-card__bmodal" data-modal="1">
            <span>i</span>
          </button>
        </div>

      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-2" src="/img/sliderteams-img-2.webp"/>
          <h2>Ольга Рубан</h2>
          <p>Account manager</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-3" src="/img/sliderteams-img-3.webp"/>
          <h2>Дмитро Ковальчук</h2>
          <p>Project manage</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-4" src="/img/sliderteams-img-4.webp"/>
          <h2>Ангеліна Корнєва</h2>
          <p>Developer</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-1" src="/img/sliderteams-img-1.webp"/>
          <h2>Костянтин Поповченко</h2>
          <p>CEO</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sliderteams-pagination">
    <button
      class="sliderteams-pagination__page sliderteams-pagination__page--active"
      data-slide="0"
    ></button>
    <button class="sliderteams-pagination__page" data-slide="1"></button>
  </div>
</div>
