<div class="sliderteams">
  <div class="sliderteams-inner">
    <div class="sliderteams-inner__title">
      <h2>
        Команда
      </h2>
    </div>
    <div class="sliderteams-controls">
      <button class="sliderteams-controls__prev">
        <img alt="slider-icon-prev" src="/img/svg/sliderabout-iicon-prev.svg"/>
      </button>
      <button class="sliderteams-controls__next">
        <img alt="slider-icon-next" src="/img/svg/sliderabout-icon-next.svg"/>
      </button>
    </div>
  </div>
  <div class="sliderteams-cards">
    <div class="swiper-wrapper">
      <div class="sliderteams-card">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-1" src="/img/sliderteams-img-1.webp">
          <h2>Костянтин
            Поповченко</h2>
          <p>CEO</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
