<div class="sliderteams">
  <div class="sliderteams-inner">
    <div class="sliderteams-inner__title">
      <h2>Команда</h2>
    </div>
    <div class="sliderteams-controls">
      <button class="sliderteams-controls__prev">
        <img alt="slider-icon-prev" src="/img/svg/sliderabout-iicon-prev.svg" />
      </button>
      <button class="sliderteams-controls__next">
        <img alt="slider-icon-next" src="/img/svg/sliderabout-icon-next.svg" />
      </button>
    </div>
  </div>
  <div class="sliderteams-cards">
    <div class="swiper-wrapper">
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-1" src="/img/sliderteams-img-1.webp" />
          <h2>Костянтин Поповченко</h2>
          <p>CEO</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-2" src="/img/sliderteams-img-2.webp" />
          <h2>Ольга Рубан</h2>
          <p>Account manager</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-3" src="/img/sliderteams-img-3.webp" />
          <h2>Дмитро Ковальчук</h2>
          <p>Project manage</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-4" src="/img/sliderteams-img-4.webp" />
          <h2>Ангеліна Корнєва</h2>
          <p>Developer</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
      <div class="sliderteams-card swiper-slide">
        <div class="sliderteams-card__box">
          <img alt="sliderteams-icon-1" src="/img/sliderteams-img-1.webp" />
          <h2>Костянтин Поповченко</h2>
          <p>CEO</p>
          <button>
            <span>i</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sliderteams-pagination">
    <button
      class="sliderteams-pagination__page sliderteams-pagination__page--active"
      data-slide="0"
    ></button>
    <button class="sliderteams-pagination__page" data-slide="1"></button>
  </div>
</div>
