<div class="sliderabout">
  <div class="sliderabout-inner">
    <div class="sliderabout-inner__title">
      <h2>Клієнти про нас</h2>
    </div>
    <div class="sliderabout-controls">
      <button class="sliderabout-controls__prev">
        <img src="/img/svg/sliderabout-iicon-prev.svg" alt="slider-icon-prev" />
      </button>
      <button class="sliderabout-controls__next">
        <img src="/img/svg/sliderabout-icon-next.svg" alt="slider-icon-next" />
      </button>
    </div>
  </div>
  <div class="sliderabout-cards mySwiper">
    <div class="swiper-wrapper">
      <div class="sliderabout-card swiper-slide">
        <div class="sliderabout-card__box">
          <div class="sliderabout-card__top">
            <img src="img/svg/amazon-icon.svg" alt="amazon-icon" />
            <img src="/img/svg/slider-fb.svg" alt="slider-fb" />
          </div>
          <div class="sliderabout-card__title">
            <h2>Пичаи Сундарараджан</h2>
            <p>CEO “Google”</p>
          </div>
          <div class="sliderabout-card__desc">
            <p>
              Lorem ipsum — це псевдолатинський текст, який використовується у
              веб-дизайні, типографіці, макеті та поліграфії замість англійської
              мови, щоб підкреслити елементи дизайну над вмістом. Його також
              називають текстом-заповнювачем (або текстом-заповнювачем). Це
              зручний інструмент для макетів.
            </p>
          </div>
        </div>
      </div>
      <div class="sliderabout-card swiper-slide">
        <div class="sliderabout-card__box">
          <div class="sliderabout-card__top">
            <img src="/img/svg/microsoft-icon.svg" alt="microsoft-icon" />
            <img src="/img/svg/slider-fb.svg" alt="slider-fb" />
          </div>
          <div class="sliderabout-card__title">
            <h2>Наделла</h2>
            <p>CEO Microsoft</p>
          </div>
          <div class="sliderabout-card__desc">
            <p>
              Lorem ipsum — це псевдолатинський текст, який використовується у
              веб-дизайні, типографіці, макеті та поліграфії замість англійської
              мови, щоб підкреслити елементи дизайну над вмістом. Його також
              називають текстом-заповнювачем (або текстом-заповнювачем). Це
              зручний інструмент для макетів.
            </p>
          </div>
        </div>
      </div>

      <div class="sliderabout-card swiper-slide">
        <div class="sliderabout-card__box">
          <div class="sliderabout-card__top">
            <img src="img/svg/amazon-icon.svg" alt="amazon-icon" />
            <img src="/img/svg/slider-fb.svg" alt="slider-fb" />
          </div>
          <div class="sliderabout-card__title">
            <h2>Пичаи Сундарараджан</h2>
            <p>CEO “Google”</p>
          </div>
          <div class="sliderabout-card__desc">
            <p>
              Lorem ipsum — це псевдолатинський текст, який використовується у
              веб-дизайні, типографіці, макеті та поліграфії замість англійської
              мови, щоб підкреслити елементи дизайну над вмістом. Його також
              називають текстом-заповнювачем (або текстом-заповнювачем). Це
              зручний інструмент для макетів.
            </p>
          </div>
        </div>
      </div>
      <div class="sliderabout-card swiper-slide">
        <div class="sliderabout-card__box">
          <div class="sliderabout-card__top">
            <img src="img/svg/amazon-icon.svg" alt="amazon-icon" />
            <img src="/img/svg/slider-fb.svg" alt="slider-fb" />
          </div>
          <div class="sliderabout-card__title">
            <h2>Пичаи Сундарараджан</h2>
            <p>CEO “Google”</p>
          </div>
          <div class="sliderabout-card__desc">
            <p>
              Lorem ipsum — це псевдолатинський текст, який використовується у
              веб-дизайні, типографіці, макеті та поліграфії замість англійської
              мови, щоб підкреслити елементи дизайну над вмістом. Його також
              називають текстом-заповнювачем (або текстом-заповнювачем). Це
              зручний інструмент для макетів.
            </p>
          </div>
        </div>
      </div>
      <div class="sliderabout-card swiper-slide">
        <div class="sliderabout-card__box">
          <div class="sliderabout-card__top">
            <img src="img/svg/amazon-icon.svg" alt="amazon-icon" />
            <img src="/img/svg/slider-fb.svg" alt="slider-fb" />
          </div>
          <div class="sliderabout-card__title">
            <h2>Пичаи Сундарараджан</h2>
            <p>CEO “Google”</p>
          </div>
          <div class="sliderabout-card__desc">
            <p>
              Lorem ipsum — це псевдолатинський текст, який використовується у
              веб-дизайні, типографіці, макеті та поліграфії замість англійської
              мови, щоб підкреслити елементи дизайну над вмістом. Його також
              називають текстом-заповнювачем (або текстом-заповнювачем). Це
              зручний інструмент для макетів.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sliderabout-pagination">
    <button
      class="sliderabout-pagination__page sliderabout-pagination__page--active"
      data-slide="0"
    ></button>
    <button class="sliderabout-pagination__page" data-slide="1"></button>
  </div>
</div>
