<div class="technology-cont">
  <div class="technology-cont__inner">
    <div class="technology-cont__inner--title">
      <h2>Технології які ми застосовуємо</h2>
    </div>
    <div class="technology-cont__list" data-aos="fade-left">
      <div class="technology-cont__item">
        <ul>
          <li>
            <div class="technology-cont__item--box">
              <img src="img/tech-icon-1.avif" alt="tech-icon-1" />
              <p>Microsof Dynamics 365</p>
            </div>
          </li>
          <li>
            <div class="technology-cont__item--box">
              <img src="img/tech-icon-2.avif" alt="tech-icon-2" />
              <p>Microsof Power Platform</p>
            </div>
          </li>
          <li>
            <div class="technology-cont__item--box">
              <img src="img/tech-icon-3.avif" alt="tech-icon-3" />
              <p>Microsoft Office</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="technology-cont__contact">
        <ul>
          <li>
            <img src="img/svg/tech-icon-phone.svg" alt="tech-icon-phone" />
            <p>Телефонія</p>
          </li>
          <li>
            <img src="img/svg/tech-icon-crm.svg" alt="tech-icon-crm" />
            <p>Навчання співробітників з CRM</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  @include('tteams.html')
</div>
