<div class="toolscont" ">
  <div class="toolscont-box">
    <div class="container">
      <div class="toolscont-text" data-aos="fade-left">
        <div class="toolscont-text__title">
          Якщо ви прагнете рухатися вперед,
          <p>вам необхідні інноваційні інструменти,</p>
          що сфокусують роботу команди на досягненні екстра-результатів.
        </div>
        <div class="toolscont-text__desc">
          Ми впроваджуємо інтелектуальні цифрові рішення для автоматизації
          бізнесу, щоб допомогти вам у цьому.
        </div>
      </div>
      <div class="toolslist" data-aos="fade-left">
        <div class="toolslist-optimization">
          <div class="toolslist-optimization__title">
            <h2>автоматизація</h2>
          </div>
          <div class="toolslist-optimization__inner">
            <ul>
              <li>
                <img
                  src="img/svg/benefits-el-poin.svg"
                  alt="benefits-el-point"
                />
                <p>
                  Не віслідковуєте діяльність та ефективність співробітників
                </p>
              </li>
              <li>
                <img
                  src="img/svg/benefits-el-nopoin.svg"
                  alt="benefits-el-nopoint"
                />
                <p>Не автоматизована воронка продажу, або її немає</p>
              </li>
              <li>
                <img
                  src="img/svg/benefits-el-poin.svg"
                  alt="benefits-el-point"
                />
                <p>Не автоматизовано продажі, маркетинг та обслуговування</p>
              </li>
              <li>
                <img
                  src="img/svg/benefits-el-nopoin.svg"
                  alt="benefits-el-nopoint"
                />
                <p>Маєте багато IT-систем які не інтегровані між собою</p>
              </li>
              <li>
                <img
                  src="img/svg/benefits-el-poin.svg"
                  alt="benefits-el-point"
                />
                <p>Втрачаєте клієнтів через не автоматизований облік</p>
              </li>
              <li>
                <img
                  src="img/svg/benefits-el-nopoin.svg"
                  alt="benefits-el-nopoint"
                />
                <p>Ваша компанія працює на російських CRM-системах</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="toolslist-offer">
          <div class="toolslist-offer__title">
            <h2>Ми пропонуємо</h2>
          </div>
          <div class="toolslist-offer__inner">
            <ul>
              <li>
                <img src="img/svg/benefits-num-1.svg" alt="benefits-num-1" />
                <p>Автоматизовані нагадування, про дедлайни та події</p>
              </li>
              <li>
                <img src="img/svg/benefits-num-2.svg" alt="benefits-num-2" />
                <p>Інтеграція з популярними месенджерами та телефонією</p>
              </li>
              <li>
                <img src="img/svg/benefits-num-3.svg" alt="benefits-num-3" />

                <p>Побудована корпоративна воронка продажів</p>
              </li>
              <li>
                <img src="img/svg/benefits-num-4.svg" alt="benefits-num-4" />

                <p>
                  Всі співробітники, постановка задач для них в єдиній системі,
                  синхронізовані календарі
                </p>
              </li>
              <li>
                <img src="img/svg/benefits-num-5.svg" alt="benefits-num-5" />

                <p>
                  Підтримка єдиних процесів продажу для всіх потенційних клієнті
                  та підрозділів компанії
                </p>
              </li>
              <li>
                <img src="img/svg/benefits-num-6.svg" alt="benefits-num-6" />

                <p>
                  Автоматизація та оптимізація процесів продажу, маркетингу,
                  обслуговування
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
