<div class="tteams">
  <div class="box-container">
    <div class="tteams-title">
      <h2>Рішення для колективної роботи</h2>
    </div>
    <div class="tteams-box">
      <div class="tteams-content">
        <div class="tteams-content__title">
          <img src="/img/tech-icon-4.png" alt="tech-icon-4" />
          <div class="tteams-content__title--text">
            <h2>Мicrosoft Тeams</h2>
            <p>
              Облаштуйте робоче середовище для своєї команди, щоб усе необхідне
              для спільної роботи було доступне в будь-який момент у єдиному
              розташуванні.
            </p>
          </div>
        </div>
        <div class="tteams-content__desc">
          <p>
            Проводьте наради, спілкуйтеся в чаті, телефонуйте та співпрацюйте.
          </p>
        </div>
      </div>
      <div class="tteams-tabs">
        <button class="tteams-tabs__tab active">Наради та вебінари</button>
        <button class="tteams-tabs__tab">Кімнати Teams</button>
        <button class="tteams-tabs__tab">Чат і співпраця</button>
        <button class="tteams-tabs__tab">Телефонні функції Teams</button>
        <button class="tteams-tabs__tab">Програми для співпраці</button>
        <button class="tteams-tabs__tab">Безпека та конфіденційність</button>
      </div>
      <div class="tteams-contents">
        <div class="tteams-contents__cont show">
          <div class="tteams-contents__text">
            <h2>Проводьте будь-які наради звідусіль</h2>
            <p>
              Спілкуйтеся віртуально один на один, проводьте навчання
              для команди або інтерактивні вебінари для щонайбільше
              1000 учасників.
            </p>
          </div>
          <div class="tteams-contents__img">
            <img src="/img/tteams-contents-1.avif" alt="tteams-cont-1" />
          </div>
        </div>
        <div class="tteams-contents__cont">
          <div class="tteams-contents__text">
            <h2>Дайте змогу кожному працівнику долучитися до обговорення</h2>
            <p>
              Дають змогу зібрати людей, які працюють в офісах і віддалено,
              щоб ніхто не залишився осторонь.
            </p>
          </div>
          <div class="tteams-contents__img">
            <img src="/img/tteams-contents-2.avif" alt="tteams-cont-2" />
          </div>
        </div>
        <div class="tteams-contents__cont">
          <div class="tteams-contents__text">
            <h2>Працюйте разом ефективніше</h2>
            <p>
              Тримайте всіх у курсі подій. Так ваша команда працюватиме
              продуктивніше й ви зможете встигати більше та заощаджувати час.
            </p>
          </div>
          <div class="tteams-contents__img">
            <img src="/img/tteams-contents-3.avif" alt="tteams-cont-3" />
          </div>
        </div>
        <div class="tteams-contents__cont">
          <div class="tteams-contents__text">
            <h2>Дайте змогу кожному працівнику долучитися до обговорення</h2>
            <p>
              Необхідні функції віртуальних викликів та їх керування й
              спілкування з колегами без проблем.
            </p>
          </div>
          <div class="tteams-contents__img">
            <img src="/img/tteams-contents-4.avif" alt="tteams-cont-4" />
          </div>
        </div>
        <div class="tteams-contents__cont">
          <div class="tteams-contents__text">
            <h2>
              Легко співпрацюйте за допомогою зручних програм Дайте змогу
              кожному працівнику долучитися до обговорення
            </h2>
            <p>
              Гібридна роботу та краща співпраця завдяки спеціальним програмам
              для виконання важливих завдань і роботи з даними.
            </p>
          </div>
          <div class="tteams-contents__img">
            <img src="/img/tteams-contents-5.avif" alt="tteams-cont-5" />
          </div>
        </div>
        <div class="tteams-contents__cont">
          <div class="tteams-contents__text">
            <h2>Незмінна безпека й актуальність</h2>
            <p>
              Регулятивні, юридичні й організаційні вимоги за допомогою рішень
              для гарантування безпеки та відповідності.
            </p>
          </div>
          <div class="tteams-contents__img">
            <img src="/img/tteams-contents-6.avif" alt="tteams-cont-6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
